<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobapp.almaslira.sharethatbill" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />

    <application
        android:name="com.mobapp.almaslira.sharethatbill.ShareThatBillApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mobapp.almaslira.sharethatbill.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mobapp.almaslira.sharethatbill.CreateAccountActivity"
            android:label="@string/title_activity_create_account" >
        </activity>
        <activity
            android:name="com.mobapp.almaslira.sharethatbill.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name="com.mobapp.almaslira.sharethatbill.CreateGroupActivity"
            android:label="@string/title_activity_create_group" >
        </activity>
        <activity
            android:name="com.mobapp.almaslira.sharethatbill.GroupActivity"
            android:label="GroupActivity" >
        </activity>
        <activity
            android:name="com.mobapp.almaslira.sharethatbill.MembersTab"
            android:label="MembersTab" >
        </activity>
        <activity
            android:name="com.mobapp.almaslira.sharethatbill.BillsTab"
            android:label="BillsTab" >
        </activity>
        <activity
            android:name="com.mobapp.almaslira.sharethatbill.ViewBillActivity"
            android:label="@string/title_activity_view_bill" >
        </activity>
        <activity
            android:name="com.mobapp.almaslira.sharethatbill.CreateBillActivity"
            android:label="@string/title_activity_create_bill" >
        </activity>
    </application>

</manifest>
